.issuable-list li .issuable-milestone a {
  border: 1px solid #ccc;
  padding: 3px 5px;
  font-size: .9em;
  position: relative;
  top: -2px;
  transition: all .2s;
}

.issuable-list li .issuable-milestone a:hover,
.issuable-list li .issuable-milestone a:focus {
  color: black;
  border-color: black;
  text-decoration: none;
}

.issue.flo {
  border-left: 3px solid #00A1D8 !important;
  padding-left: 12px;
  background-color: #f9f9f9;
}

.issue .issue-title-text a {
  color: #666;
}

.issue.flo .issue-title-text a {
  color: #00A1D8;
}

.issuable-list li.issue .issuable-milestone,
.issuable-list li.issue .issuable-info,
.issuable-list li.issue .task-status,
.issuable-list li.issue .issuable-updated-at {
  color: #bbb;
}

.issuable-list li.issue .issuable-info .issuable-reference {
  color: #666;
}