a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline !important;
}

a.button:hover,
.action_buttons a:hover,
#navi-main li a:hover {
  text-decoration: none !important;
}


table.table td {
  padding-top: 4px;
  padding-bottom: 2px;
}

table.table tr:hover td {
  background-color: #eee;
}

span.status_1,
span.status_2,
span.status_3,
span.status_4,
span.status_5,
span.status_6,
span.status_7 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.accordion_view.accordion .right .button {
  display: none;
}

.accordion_view.accordion:hover .right .button {
  display: block;
}

/* TICKET PRIO */
.prio {
  text-align: center;
}

.prio strong {
  border: 1px solid #666;
  padding: 0 5px;
}

.prio-hot strong {
  border-color: red;
  color: red;
}
.prio-medium strong {
  border-color: #00A1D8;
  color: #00A1D8;
}

/* COMMENTS */

.comments .comment-empty {
  background: white;
  border: 1px solid #eee;
}

.comments .comment-empty .author {
  max-height: 0;
  padding-top: 0;
  overflow: hidden;
  transition: all 0.5s;
  box-sizing: border-box;
}

.comments .comment-empty .comment-anchor {
  color: #ccc !important;
}

.comments .comment-empty:hover .author {
  max-height: 50px;
  padding-top: .5em;
}

.comment.me:not(.comment-empty) {
  border-left: 2px solid #00A1D8;
}

.comment.me:not(.comment-empty) .author{
  color: #00A1D8;
}

/*.comment .changes {
  background-color: white;
  border: 1px solid #eee;
}*/

/* CHECKBOXES */

#notify_all label.checkbox {
  line-height: 24px;
  cursor: pointer;
}

#notify_all label.checkbox:hover {
  color: #00A1D8;
}

#notify_all label.checkbox input.checkbox {
  top: 7px;
}

#notify_all label.checkbox select {
  margin-top: 10px !important;
}

/* UPLOAD */

#flash_upload {
  padding-bottom: 30px;
}

/* COMMENT BUTTON */

.right .button.green {
  padding: 10px 20px 13px;
  height: auto;
  background: #4ba429;
  font-size: 14px;
}

.right .button.green:hover {
  background: #299200;
}